/* components/Navbar.module.css */

.navbar {
  background-color: #333333; 
  color: #fff; 
  padding: 5px;
  text-align: left;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  padding: 15px 0 15px 0;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.2s ease, background-color 0.2s ease;
  padding: 15px;
}

.navbar a:hover {
  color: #000;
  background-color: white;
}
